{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block content %}
  <form method="post" action="{% url 'data_ingest' %}" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form | crispy }}
    <input type="submit" value="nom nom nom" class="btn btn-default">
  </form>

  <p>
    Note that uploading a large number of files may cause an error. If you see an
    error page that doesn't look like this site, that's okay; just come back to
    this page and try uploading a smaller number of files. You can re-upload
    the same files and it will be fine. Nothing's broken.
  </p>
{% endblock content %}
