{% extends 'base.html' %}

{% block content %}
<div class="row">
  <div class="col-xs-12 col-sm-4">
    <h2>Unreviewed</h2>
    
    {% for candidate in unreviewed %}
      <a href="{{ candidate.get_absolute_url }}">{{ candidate }}</a><br />
    {% empty %}
      <p>
        All reviewed! Awesome job!
      </p>
      <p class="large">
        🙌🏻 🙌🏼 🙌🏽 🙌🏾 🙌🏿</span>
      </p>
    {% endfor %}
  </div>

  <div class="col-xs-12 col-sm-4">
    <h2>Review in progress</h2>
    
    {% for candidate in in_process %}
      <a href="{{ candidate.get_absolute_url }}">{{ candidate }}</a><br />
    {% endfor %}
  </div>

  <div class="col-xs-12 col-sm-4">
    <h2>Done! {% if reviewed %}&#127881;{% endif %}</h2>
    
    {% for candidate in reviewed %}
      <a href="{{ candidate.get_absolute_url }}">{{ candidate }}</a><br />
    {% endfor %}
  </div>
</div>
{% endblock content %}