{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block content %}
  <h2>{{ object }}</h2>

  {% if object.starred %}
    <div class="panel panel-info">
      <div class="panel-heading">
        <h3 class="panel-title">Special notes from the chair, Executive Director, etc.</h3>
      </div>
      {% for form in special_notes_forms %}
        <div class="panel-body">
          <form method="post" action="{% url 'candidates:update_note' form.instance.pk %}">
            {% csrf_token %}
            {{ form | crispy }}
            <input type="submit" value="update note" class="btn btn-default">
          </form>      
        </div>
      {% endfor %}
      {% for note in special_notes_display %}
        <div class="panel-body">
          {{ note.text }}
        </div>
      {% endfor %}
    </div>
  {% endif %}

  <div class="clearfix">
    <p class="lead pull-left">
      <img class="library-type-icon-large" alt="{{ object.get_library_type_display }}" src="{{ object.library_type_icon }}">
    </p>
    {% crispy libtype_form %}
  </div>

  <h3>Committees</h3>

  <div class="row">
    <div class="col-xs-12 col-sm-6">

      {% if appointments %}
        <div class="panel panel-info">
          <div class="panel-heading">
            <h3 class="panel-title">Already appointed to:</h3>
          </div>
          <div class="panel-body">
            <em>
              Please consider other candidates for any remaining appointments,
              unless there is a good reason to cross-appoint this person!
            </em>
            <ul class="list-unstyled">
              {% for committee in appointments %}
                <li>
                  <a href="{{ committee.get_absolute_url }}">
                    {{ committee }}
                  </a>                
                </li>
              {% endfor %}
            </ul>
          </div>
        </div>
      {% endif %}

      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Under consideration for...</h3>
        </div>
        <div class="panel-body">
          <ul class="list-unstyled">
            {% for committee in committees %}
              <li>
                <a href="{{ committee.get_absolute_url }}">
                  {{ committee }}
                </a>                
              </li>
            {% endfor %}
          </ul>
          {% if committees %}
            <p><em>
              Set status on the committee page.
            </em></p>
          {% endif %}
        </div>
      </div>      
    </div>
    <div class="col-xs-12 col-sm-6">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Add committees to consider</h3>
        </div>
        <div class="panel-body">
          {% if other_committees %}
            <form method="post" action="{% url 'candidates:update_appointments' object.pk %}" id="batch_edit">
              {% csrf_token %}

              <div class="form-group">
                <ul class="list-unstyled">
                  {% for committee in other_committees %}
                    <li>
                      <input type="checkbox" name="committees" value="{{ committee.pk }}">
                      <a href="{{ committee.get_absolute_url }}">
                        {{ committee }}
                      </a>
                    </li>
                  {% endfor %}
                </ul>
              </div>
              
              <input type="submit" value="add to candidate" class="btn btn-default">
            </form>
          {% else %}
            None available.
          {% endif %}
        </div>
      </div>      
    </div>
  </div>


  <h3>Volunteer Information</h3>
  <p>
    Lives in: {{ object.place_of_origin }}
  </p>
  <p>
    Volunteer form last submitted on: {{ object.form_date }}
  </p>

  <div class="row">
    <div class="col-xs-12 col-sm-6">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Education &amp; experience</h3>
        </div>
        <div class="panel-body">
          {{ object.resume }}
        </div>
      </div>      
    </div>
    <div class="col-xs-12 col-sm-6">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">ALA service history</h3>
        </div>
        <div class="panel-body">
          {{ object.ala_appointments }}
        </div>
      </div>      
    </div>
    <div class="col-xs-12 col-sm-6">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Other info</h3>
        </div>
        <div class="panel-body">
          {{ object.other_info }}
        </div>
      </div>      
    </div>
    <div class="col-xs-12 col-sm-6">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Division/RT memberships</h3>
        </div>
        <div class="panel-body">
          {{ object.memberships }}
        </div>
      </div>      
    </div>
  </div>

  {% if notes_forms or create_form %}
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Notes</h3>
      </div>
      <div class="panel-body">
        {% for form in notes_forms %}
          <form method="post" action="{% url 'candidates:update_note' form.instance.pk %}">
            {% csrf_token %}
            {{ form | crispy }}
            <input type="submit" value="update note" class="btn btn-default">
          </form>      
        {% endfor %}

        {% if create_form and notes_forms %}
          <hr />          
        {% endif %}

        {% if create_form %}
          <h4>Create new note</h4>
            <form method="post" action="{% url 'candidates:create_note' %}">
              {% csrf_token %}
              {{ create_form | crispy }}
              <input type="submit" value="create note" class="btn btn-default">
            </form>
        {% endif %}
      </div>
    </div>    
  {% endif %}
{% endblock content %}