{% extends 'base.html' %}

{% block content %}
<div class="row">
  <div class="col-xs-12 col-sm-4">
    <h2>Incomplete</h2>

    <div class="row">
      <div class="col-xs-12 col-sm-10">
        <em>
          These candidates have one or more appointments that haven't yet been
          finalized (either 'recommended' or 'not recommended').
        </em>
        <hr />
      </div>     
    </div>

    {% for candidate in unfinished %}
      <a href="{{ candidate.get_absolute_url }}">{{ candidate.get_html_name }}</a><br />
    {% empty %}
      <p>
        All reviewed! Awesome job!
      </p>
      <p class="large">
        🙌🏻 🙌🏼 🙌🏽 🙌🏾 🙌🏿</span>
      </p>
    {% endfor %}
  </div>

  <div class="col-xs-12 col-sm-4">
    <h2>Pending</h2>
    
    <div class="row">
      <div class="col-xs-12 col-sm-10">
        <em>
          The committee has recommended these candidates be appointed to one or
          more committees &mdash; good job! Either the VP needs to send them an appointment letter, or we're waiting to hear back
          on whether they'll accept the appointment.
        </em>
        <hr />
      </div>     
    </div>

    {% for candidate in pending %}
      <a href="{{ candidate.get_absolute_url }}">{{ candidate.get_html_name }}</a><br />
    {% endfor %}
  </div>

  <div class="col-xs-12 col-sm-4">
    <h2>Done! {% if done %}&#127881;{% endif %}</h2>

    <div class="row">
      <div class="col-xs-12 col-sm-10">
        <em>
          Aw yeah.
        </em>
        <hr />
      </div>     
    </div>
    
    {% for candidate in done %}
      <a href="{{ candidate.get_absolute_url }}">{{ candidate.get_html_name }}</a><br />
    {% endfor %}
  </div>
</div>
{% endblock content %}