    <div class="col-xs-12 col-sm-4 col-md-3">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3>
            <a href="{{ committee.get_absolute_url }}">
              {{ committee.long_name }}
            </a>
          </h3>
        </div>
        <div class="panel-body">
          {% if committee.is_fully_staffed %}
            <p class="lead">
              <span class='glyphicon glyphicon-ok'></span> Done!
            </p>

            <p>
              At least the minimum number of appointees have been chosen, and
              have accepted their appointments. It's OK to appoint additional
              people if the committee hasn't reached its maximum yet.
            </p>
          {% else %}
            {% if committee.is_fully_appointed %}
              <p class="lead">
                <span class='glyphicon glyphicon-pause'></span> Waiting...
              </p>
              <p>
                You've recommended at least the minimum number of appointees;
                we're waiting to hear back from them.
              </p>
            {% else %}
              <p class="lead bg-primary">
                &nbsp;<span class='glyphicon glyphicon-hand-right'></span> Needs appointees
              </p>
              <p>
                We haven't recommended enough appointees to meet the minimum
                number needed by this committee yet.
              </p>
            {% endif %}
          {% endif %}
          </div>

          <hr>

          <p class="text-center">
            {% if committee.owner %}
              <strong>Owner:</strong> {{ committee.owner }}
              {% ifnotequal committee.owner user %}
                <form action="{% url 'committees:update_owner' committee.pk %}" method="post" class="text-center">
                  {% csrf_token %}
                  <button name="update" class="btn btn-sm btn-default" value="own">Take ownership</button>
                </form>
              {% endifnotequal %}
            {% else %}
              <strong>Owner:</strong> <span class="bg-info">Needs owner</span>
              <form action="{% url 'committees:update_owner' committee.pk %}" method="post" class="text-center">
                {% csrf_token %}
                <button name="update" class="btn btn-primary" value="own">Take ownership</button>
              </form>
            {% endif %}
          </p>
      </div>
    </div>
