{% extends 'base.html' %}

{% load crispy_forms_tags %}
{% comment %}
Name, link to charge, notes on requirements (entered by committee member),
    appointees (interested, vetted/prospective and vetted/not recommended,
    recommended; include some kind of diversity info plus notes)
    
{% endcomment %}

{% block content %}
  <h1>{{ object }} <span class="small">{{ object.short_code }}</span></h1>
  {% include "committees/_year_limiting_form.html" %}

  <ul class="list-unstyled">
    <li>
      <strong>Charge:</strong> <a href="{{ object.charge }}">{{ object.charge }}</a>
    </li>
    <li>
      <strong>Owner:</strong> {{ object.owner }} 
    </li>
  </ul>

  <div class="row">
    <div class="col-xs-12 col-sm-6">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Notes
        </div>
        <div class="panel-body">
          <form method="post" action="{% url 'committees:update_notes' object.pk %}">
            {% csrf_token %}
            {{ notes_form | crispy }}
            <input type="submit" value="update notes" class="btn btn-default">
          </form>
        </div>
      </div>      
    </div>
    <div class="col-xs-12 col-sm-6">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Number of appointees needed
        </div>
        <div class="panel-body">
          <form method="post" action="{% url 'committees:update_numbers' object.pk %}">
            {% csrf_token %}
            {{ numbers_form | crispy }}
            <input type="submit" value="update numbers" class="btn btn-default">
          </form>
        </div>
      </div>      

      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Serving during {{ view_by_year }}
        </div>
        <div class="panel-body">
          {% for candidate in current %}
            {{ candidate }}{% if not forloop.last %}, {% endif %}            
          {% endfor %}
        </div>
      </div>      
    </div>    
  </div>

  <h2>Possible Appointees</h2>

  <p>
    <strong><em>For all committees</em></strong>, please consider:
    <ul>
      <li>
        <strong>Diversity</strong>: have we ensured the members represent a range
        of personal backgrounds, library types, etc.?
      </li>
      <li>
        <strong>Skills</strong>: have we supplied appointees with skills the
        committee needs to flourish?
      </li>
      <li>
        <strong>Skills development</strong>: are we giving appointees a chance
        to learn new skills that they value?
      </li>
      <li>
        <strong>Initiative</strong>: have we appointed people who get things done?
      </li>
    </ul>
  </p>


  {% if candidates %}
    <form method="post" action="{% url 'candidates:update_status' object.pk %}" id="batch_edit">
      {% csrf_token %}
      {% if status_choices %}
        <div class="row">
          <div class="col-xs-12 col-sm-3">
            <div class="form-group">
              <label for="select_status">
                Status for all selected candidates
              </label>
              <select name="batch_status" class="form-control" id="select_status">
                {% for status in status_choices %}
                  <option value="{{ status.0 }}">{{ status.1 }}</option>
                {% endfor %}
              </select>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-xs-12 col-sm-3">
            <div class="form-group">    
              <input type="submit" class="btn btn-default" value="Set status" />
            </div>
          </div>
        </div>
        
      {% endif %}

      <h3>Maybe</h3>
      <div class="row">
        <div class="col-xs-12 col-sm-3">
          <h4>Applicant</h4>
          {% for candidate in applicants %}
            {% if status_choices %}
              <input type="checkbox" name="candidates" value="{{ candidate.pk }}">
            {% endif %}
            <a href="{{ candidate.get_absolute_url }}">{{ candidate.get_html_name }}</a><br />
          {% endfor %}
        </div>

        <div class="col-xs-12 col-sm-3">
          <h4>Potential</h4>
          {% for candidate in potential %}
            {% if status_choices %}
              <input type="checkbox" name="candidates" value="{{ candidate.pk }}">
            {% endif %}
            <a href="{{ candidate.get_absolute_url }}">{{ candidate.get_html_name }}</a><br />
          {% endfor %}
        </div>

        <div class="col-xs-12 col-sm-3">
          <h4>Recommended</h4>
          {% for candidate in recommended %}
            {% if status_choices %}
              <input type="checkbox" name="candidates" value="{{ candidate.pk }}">
            {% endif %}
            <a href="{{ candidate.get_absolute_url }}">{{ candidate.get_html_name }}</a><br />
          {% endfor %}
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12 col-sm-3">
          <h4>Appointment sent...</h4>
          {% for candidate in sent %}
            {% if status_choices %}
              <input type="checkbox" name="candidates" value="{{ candidate.pk }}">
            {% endif %}
            <a href="{{ candidate.get_absolute_url }}">{{ candidate.get_html_name }}</a><br />
          {% endfor %}
        </div>
      </div>

      <h3>Yes!</h3>
      <div class="row">
        <div class="col-xs-12 col-sm-3">
          <h4>Appointment accepted</h4>
          {% for candidate in accepted %}
            <a href="{{ candidate.get_absolute_url }}">{{ candidate.get_html_name }}</a><br />
          {% endfor %}
        </div>
      </div>

      <h3>No</h3>
      <div class="row">
        <div class="col-xs-12 col-sm-3">
          <h4>Not recommended</h4>
          {% for candidate in not_recommended %}
            {% if status_choices %}
              <input type="checkbox" name="candidates" value="{{ candidate.pk }}">
            {% endif %}
            <a href="{{ candidate.get_absolute_url }}">{{ candidate.get_html_name }}</a><br />
          {% endfor %}
        </div>

        <div class="col-xs-12 col-sm-3">
          <h4>Declined appointment</h4>
          {% for candidate in declined %}
            <a href="{{ candidate.get_absolute_url }}">{{ candidate.get_html_name }}</a><br />
          {% endfor %}
        </div>
      </div>
    </form>

  <h3>Glossary</h3>
  <ul>
    <li><strong>Applicants</strong> have submitted a volunteer form and
    expressed interest in this committee.</li>
    <li><strong>Potential</strong> means the committee is
    evaluating this candidate for this committee but has not yet made a
    decision.</li>
    <li><strong>Recommended</strong> means the committee recommends that
    the VP appoint this candidate to this committee.</li>
    <li><strong>Accepted</strong> means the VP has sent an appointment
    invitation and the candidate has accepted it. Hooray!</li>
    <li><strong>Not recommended</strong> means the committee has evaluated this
    candidate and does not recommend appointing them to this committee.</li>
    <li><strong>Declined</strong> means candidate received an appointment
    letter but declined to serve on the committee.</li>
  </ul>

  <p>
    Our goal is to get candidates moved into a final status (accepted, not
    recommended, or declined) until committees are fully staffed.
  </p>
  {% else %}
    <p>
      No applicants yet.
    </p>
  {% endif %}
{% endblock content %}