{% extends 'base.html' %}

{% load crispy_forms_tags %}
{% comment %}
Name, link to charge, notes on requirements (entered by committee member),
    appointees (interested, vetted/prospective and vetted/not recommended,
    recommended; include some kind of diversity info plus notes)
    
{% endcomment %}

{% block content %}
  <h1>{{ object }} <span class="small">{{ object.short_code }}/<a href="{{ objects.charge }}">charge</a></span></h1>

  <strong><em>For all committees</em></strong>, please consider:
  <ul>
    <li>
      <strong>Diversity</strong>: have we ensured the members represent a range
      of personal backgrounds, library types, etc.?
    </li>
    <li>
      <strong>Skills</strong>: have we supplied appointees with skills the
      committee needs to flourish?
    </li>
    <li>
      <strong>Skills development</strong>: are we giving appointees a chance
      to learn new skills that they value?
    </li>
    <li>
      <strong>Initiative</strong>: have we appointed people who get things done?
    </li>
  </ul>

  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Notes
    </div>
    <div class="panel-body">
      <form method="post" action="{% url 'committees:update_notes' object.pk %}">
        {% csrf_token %}
        {{ notes_form | crispy }}
        <input type="submit" value="update notes" class="btn btn-default">
      </form>
    </div>
  </div>

  <h2>Appointees</h2>
{% comment %}
  

  <form method="post" action="{% url 'applications:batch_edit' %}" id="batch_edit">
    {% csrf_token %}
    <div class="form-group">
      <ul class="list-unstyled">
        <li>
          <input type="checkbox" id="select_all">
          <strong>
            {% trans "Select/deselect all" %}            
          </strong>
        </li>
        {% for app in object_list %}
          <li>
            <input type="checkbox" name="applications" value="{{ app.pk }}">
            <span class="label label{{ app.get_bootstrap_class }}">
              {{ app.get_status_display }}
            </span>&nbsp;
            <a href="{{ app.get_absolute_url }}">
              {{ app }}
            </a>
            &mdash;
            {% if app.get_version_count > 1 %} {# first version is original submission, not later review #}
              {% blocktrans trimmed with reviewer=app.get_latest_reviewer review_date=app.get_latest_review_date|localize %}
                Last reviewed by {{ reviewer }} on {{ review_date }}
              {% endblocktrans %}
            {% else %}
              {% trans 'Not yet reviewed.' %}
            {% endif %}
          </li>
        {% endfor %}
      </ul>
    </div>

    <div class="row">
      <div class="col-xs-12 col-sm-6">
        <div class="form-group">    
          <label for="select_status">
            {% trans "Status for all selected applications" %}
          </label>
          
          <select name="batch_status" class="form-control" id="select_status">
            {% for status in status_choices %}
              <option value="{{ status.0 }}">{{ status.1 }}</option>
            {% endfor %}
          </select>
        </div>
      </div>
    </div>

    <div class="form-group">    
      <input type="submit" class="btn btn-default" value="{% trans "Set status" %}" />
    </div>
  </form>
{% endcomment %}



  <h3>Maybe/yes</h3>
  <form method="post" action="{% url 'candidates:update_status' object.pk %}" id="batch_edit">
    {% csrf_token %}
    <div class="form-group">    
      <label for="select_status">
        Status for all selected candidates
      </label>
      <select name="batch_status" class="form-control" id="select_status">
        {% for status in status_choices %}
          <option value="{{ status.0 }}">{{ status.1 }}</option>
        {% endfor %}
      </select>
    </div>

    <div class="form-group">    
      <input type="submit" class="btn btn-default" value="Set status" />
    </div>

  <div class="row">
    <div class="col-xs-12 col-sm-3">
      <h4>Applicant</h4>
      {% for candidate in applicants %}
        <input type="checkbox" name="candidates" value="{{ candidate.pk }}">
        <a href="candidate.get_absolute_url">{{ candidate }}</a>
      {% endfor %}
    </div>

    <div class="col-xs-12 col-sm-3">
      <h4>Potential</h4>
      {% for candidate in potential %}
        <input type="checkbox" name="candidates" value="{{ candidate.pk }}">
        <a href="candidate.get_absolute_url">{{ candidate }}</a>
      {% endfor %}
    </div>

    <div class="col-xs-12 col-sm-3">
      <h4>Recommended</h4>
      {% for candidate in recommended %}
        <input type="checkbox" name="candidates" value="{{ candidate.pk }}">
        <a href="candidate.get_absolute_url">{{ candidate }}</a>
      {% endfor %}
    </div>

    <div class="col-xs-12 col-sm-3">
      <h4>Appointment accepted!</h4>
      {% for candidate in accepted %}
        <a href="candidate.get_absolute_url">{{ candidate }}</a>
      {% endfor %}
    </div>
  </div>

  <h3>No</h3>
  <div class="row">
    <div class="col-xs-12 col-sm-3">
      <h4>Not recommended</h4>
      {% for candidate in not_recommended %}
        <input type="checkbox" name="candidates" value="{{ candidate.pk }}">
        <a href="candidate.get_absolute_url">{{ candidate }}</a>
      {% endfor %}
    </div>

    <div class="col-xs-12 col-sm-3">
      <h4>Declined appointment</h4>
      {% for candidate in declined %}
        <a href="candidate.get_absolute_url">{{ candidate }}</a>
      {% endfor %}
    </div>
  </div>

  <h3>Glossary</h3>
  <ul>
    <li><strong>Applicants</strong> have submitted a volunteer form and
    expressed interest in this committee.</li>
    <li><strong>Potential</strong> means the committee is
    evaluating this candidate for this committee but has not yet made a
    decision.</li>
    <li><strong>Recommended</strong> means the committee recommends that
    the VP appoint this candidate to this committee.</li>
    <li><strong>Accepted</strong> means the VP has sent an appointment
    invitation and the candidate has accepted it. Hooray!</li>
    <li><strong>Not recommended</strong> means the committee has evaluated this
    candidate and does not recommend appointing them to this committee.</li>
    <li><strong>Declined</strong> means candidate received an appointment
    letter but declined to serve on the committee.</li>
  </ul>

  <p>
    Our goal is to get candidates moved into a final status (accepted, not
    recommended, or declined) until committees are fully staffed.
  </p>
{% endblock content %}